@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fa fa-shopping-cart"></i>&nbsp;</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>@ViewData["Title"]</h1>
<br />

<table class="table table-striped ">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>SUBTOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Products)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@(item.Price * item.Quantity)</td>

        </tr>
        }
        <tr>
            <td colspan="4" align="right">Total</td>
            <td>@ViewBag.Total</td>
        </tr>
    </tbody>
</table>

<form method="post" asp-action="Checkout" >
    <input type="hidden" name="total" value="@ViewBag.Total" />
    <button type="submit" class="btn btn-primary">Pagar con PayPal&nbsp;<i class="fa fa-paypal"></i></button>
</form>
